*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
}

header {
  margin: 40px 50px 0px 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 1230px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 670px) {
  header {
    margin: 20px 25px 0px 25px;
  }
}

.logo img {
  width: 200px;
  height: 50px;
}

@media (max-width: 670px) {
  .logo img {
    width: 150px;
    height: 37.5px;
  }
}

.header-nav {
  margin: 20px 0px 20px 20px;
}

.header-nav ul {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 670px) {
  .header-nav ul {
    justify-content: center;
  }
}

.header-photographer-page {
  margin: 20px 10px 20px 50px;
}

@media (max-width: 670px) {
  .header-photographer-page {
    margin: 20px 10px 20px 10px;
  }
}

.index-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.index-main h1 {
  color: #901c1c;
  position: absolute;
  top: 42px;
  right: 60px;
  font-size: 36px;
  line-height: 47px;
}

@media (max-width: 1230px) {
  .index-main h1 {
    font-size: 24px;
  }
}

@media (max-width: 670px) {
  .index-main h1 {
    font-size: 14px;
    top: 15px;
    right: 30px;
    font-weight: 500;
  }
}

.photographer-page-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
}

.photographer-page-info-container ul {
  display: flex;
  justify-content: flex-start;
}

.photographer-page-info-container ul > li {
  font-size: 10px;
}

@media (max-width: 670px) {
  .photographer-page-info-container {
    width: 50%;
  }
}

.photographer-page-banner {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
}

@media (max-width: 670px) {
  .photographer-page-banner {
    padding: 0px;
    background-color: white;
  }
}

.photographer-page-banner__name {
  margin-bottom: 10px;
  color: #d3573c;
  font-size: 64px;
}

@media (max-width: 670px) {
  .photographer-page-banner__name {
    font-size: 36px;
    margin-bottom: 5px;
  }
}

.photographer-page-banner__location {
  color: #901c1c;
  font-size: 18px;
  margin-bottom: 10px;
}

@media (max-width: 670px) {
  .photographer-page-banner__location {
    font-size: 13px;
    margin-bottom: 5px;
  }
}

.photographer-page-banner__bio {
  color: #525252;
  font-size: 12px;
  margin-bottom: 10px;
}

@media (max-width: 670px) {
  .photographer-page-banner__bio {
    font-size: 13px;
    margin-bottom: 5px;
  }
}

.photographer-page-banner__img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media (max-width: 670px) {
  .photographer-page-banner__img {
    width: 100px;
    height: 100px;
  }
}

.media-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.photographer-main-container {
  margin: 0 50px;
}

@media (max-width: 670px) {
  .photographer-main-container {
    margin: 0px 10px;
  }
}

.photographer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 1em 2em 1em;
  width: 30%;
}

@media (max-width: 670px) {
  .photographer {
    width: 50%;
  }
}

.photographer a {
  text-decoration: none;
  text-align: center;
}

.photographer__profile-img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.photographer__name {
  font-size: 36px;
  color: #d3573c;
  text-align: center;
  margin-bottom: 0.5rem;
}

.photographer__location {
  color: #901c1c;
  font-size: 13px;
  margin-bottom: 0.3rem;
}

.photographer__bio {
  font-size: 10px;
  color: #000000;
  margin-bottom: 0.3rem;
}

.photographer__pricing {
  font-size: 9px;
  color: #757575;
  margin-bottom: 0.6rem;
}

.photographer__hashtag-list ul {
  display: flex;
}

.hashtag {
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  color: #901c1c;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.6;
  padding: 0 0.5em 0 0.5em;
  margin: 2px 3px;
}

.hashtag:hover {
  cursor: pointer;
  color: white;
  background-color: #901c1c;
  transition: ease-in-out 0.4s;
}

.main-button {
  background-color: #901c1c;
  color: white;
  width: 10em;
  height: 4.5em;
  border-radius: 5px;
  border: none;
}

.main-button--photographer-page {
  position: absolute;
  right: -200px;
  top: 20px;
}

@media (max-width: 900px) {
  .main-button--photographer-page {
    display: none;
  }
}

.media {
  margin: 10px;
}

.media__content {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 670px) {
  .media__content {
    width: 335px;
    height: 190px;
  }
}

.media__body {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px;
}

.media__title {
  font-size: 24px;
  color: #901c1c;
}

.media__likes {
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.media__likes__count {
  color: #901c1c;
  font-weight: 500;
  font-size: 14px;
  margin-right: 3px;
}

.media__likes__img {
  height: 10.5px;
  width: 10.5px;
}

.sort-by-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 40px 0px 10px 0px;
}

@media (max-width: 670px) {
  .sort-by-container {
    display: none;
  }
}

.sort-by-container > p {
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.select-button {
  text-align: center;
}

@media (min-width: 1820px) {
  body {
    margin: 0 300px;
  }
}
