header {
  margin: 40px 50px 0px 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include tablets-rules {
    flex-direction: column;
    align-items: flex-start;
  }
  @include phones-rules {
    margin: 20px 25px 0px 25px;
  }
}

.logo {
  @include tablets-rules {
  }
  img {
    width: 200px;
    height: 50px;
    @include phones-rules {
      width: 150px;
      height: 37.5px;
    }
  }
}

.header-nav {
  margin: 20px 0px 20px 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    @include phones-rules {
      justify-content: center;
    }
  }
}

.header-photographer-page {
  margin: 20px 10px 20px 50px;
  @include phones-rules {
    margin: 20px 10px 20px 10px;
  }
}
