.main-button {
  background-color: $primary-color;
  color: white;
  width: 10em;
  height: 4.5em;
  border-radius: 5px;
  border: none;
  &--photographer-page {
    position: absolute;
    right: -200px;
    top: 20px;
    @include small-tablets-rules {
      display: none;
    }
  }
}
