.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10;
  overflow: auto;
  animation: lightbox-apparition 0.5s;
  & button {
    border: none;
    cursor: pointer;
    opacity: 0.5;
    text-indent: -10000px;
    transition: 0.4s;
    &:hover {
      opacity: 1;
    }
  }
  &__next,
  &__prev {
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    background: url(/img/icons/arrow.svg) center center / 30px 48px no-repeat;
    z-index: 11;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 24px;
    @include phones-rules {
      background: url(/img/icons/arrow.svg) center center / 8px 13px no-repeat;
      width: 13px;
      height: 8px;
      top: 45vh;
      right: -10px;
    }
  }
  &__prev {
    left: 0;
    transform: rotate(180deg);
    @include phones-rules {
      left: -10px;
    }
  }
  &__close {
    position: fixed;
    right: 0;
    margin: 20px;
    top: 0;
    background: url(/img/icons/cross.svg) center center / 42px 42px no-repeat;
    height: 42px;
    width: 42px;
    z-index: 12;
    @include phones-rules {
      background: url(/img/icons/cross.svg) center center / 12px 12px no-repeat;
      top: 390px;
      right: -25px;
    }
  }
  &__container {
    animation: lightbox-apparition 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-left: 60px;
    margin-right: 60px;
    & img {
      animation: lightbox-apparition 0.7s;
      max-height: 80vh;
      height: auto;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
      @include phones-rules {
        width: 80vw;
        height: 250px;
        min-height: 250px;
        min-width: 300px;
        object-fit: cover;
        object-position: 0px -50px;
      }
    }
    & video {
      animation: lightbox-apparition 0.7s;
      max-height: 80vh;
      height: auto;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 10px;
      @include phones-rules {
        height: 250px;
        width: 300px;
      }
    }
    & h2 {
      animation: lightbox-apparition 0.7s;
      color: $primary-color;
      font-size: 24px;
    }
  }
}

@keyframes lightbox-apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// <div class="lightbox">
//         <button class="lightbox__close">Fermer</button>
//         <button class="lightbox__next">Suivant</button>
//         <button class="lightbox__prev">Précédent</button>
//         <div class="lightbox__container">
//             <div class="lightbox__container__body">
//                 <img src="https://picsum.photos/2540/1780" alt="">
//             <h2>Je suis une image</h2>
//             </div>
//         </div>
//     </div>
