.sort-by-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 40px 0px 10px 0px;
  @include phones-rules {
    display: none;
  }
  & > p {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
  }
}

.sort-by-menu {
  position: relative;
  display: flex;
  flex: nowrap;
  flex-direction: column;
  border-radius: 8px;
  background-color: $primary-color;
  padding: 5px;
  & :hover {
    .sort-by-menu button {
      display: none;
    }
  }
  &--outline {
    box-shadow: 0px -16px 0px -15px #ffffff;
  }
  & button {
    cursor: pointer;
    &:hover {
      background-color: darken($primary-color, 2%);
    }
  }
  &-arrow {
    position: absolute;
    right: 20px;
    top: 37px;
    color: white;
    cursor: pointer;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}
